.body-css { 
    font-family: sans-serif; 
    margin: 40px; 
}

.form-css { 
    margin-bottom: 20px; 
}

.msg { 
    color: red; 
    font-size: 14px; 
    margin-top: 5px; 
}

.success { 
    color: green; 
}