

name: continuos-deployment
run-name: Deploy do App
on:
  pull_request:
    branches:
      - main
  
jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: eu-central-1

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Docker image
        run: docker build -t lucasdias061/api-pratica:latest .

      - name: Push Docker image
        run: docker push lucasdias061/api-pratica:latest

      - name: Create ZIP file for Elastic Beanstalk
        run: |
          zip -r deploy.zip Dockerrun.aws.json

      - name: Deploy to Elastic Beanstalk
        uses: einaregilsson/beanstalk-deploy@v21
        with:
          aws_access_key: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws_secret_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          region: eu-central-1
          application_name: api-pratica-eu
          environment_name: Api-pratica-eu-env
          deployment_package: deploy.zip
          existing_bucket_name: "eb-deploy-api-pratica-us-east-1"
          version_label: "build-${{ github.run_number }}"
